@import "./components/info-box";

#frontpage {
  h2 {
    margin-bottom: 0;
  }
  .list-header {
    padding-bottom: 10px;
  }
}

.frontpage-box .dropdown-menu {
  a, a:hover, a:active, a:focus {
    color: @default-font-color;
  }
  .disabled a {
    color: @gray;
  }
}
