@import "../variables.less";

/*
 * Fileupload
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
@media screen {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
.bar {
  height: 18px;
  background: #28415b;
}
.fileupload-file {
  width: 100%;
  background-color: #375a7f;
  position: relative;
  color: #fff;
}
.fileupload-file {
  border-bottom: 1px solid #2b4764;
  padding: 5px;
}
.fileupload-add {
  text-align: right;
  border-bottom: none;
}
.fileupload-add p {
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 13px;
  display: none;
}
.fileupload-file-remove {
  position: absolute;
  right: 5px;
  top: 17px;
  cursor: pointer;
  font-weight: bold;
}
#fileupload-files {
  border-radius: 4px;
}
