DEV=1
SSL=0
COMPOSER_ALLOW_SUPERUSER=1

BASE_DIRECTORY=/var/www/html/
TEMPLATE_DIRECTORY=/var/www/html/templates/
FILE_DIRECTORY=/var/www/files/
CACHE_DIRECTORY=/var/www/cache/

LOGGER_NAME=youkok2
LOGGER_PATH=/var/logs/apache2/app.log

CACHE_HOST=cache
CACHE_PORT=6379

MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=youkok2
MYSQL_USER=youkok2
MYSQL_PASSWORD=youkok2
MYSQL_DATABASE=youkok2
MYSQL_PORT=3316

ADMIN_PASS1=$2y$10$EBVb8yJDKN6/E9M/O8nQQ.DoA3t/UIPxn6VoXlxs65xWa2zHAm/tK
ADMIN_PASS2=$2y$10$TKwzrC/P4RSwz7dyAaV6TOXyLtPg9MotXHXTro3T4Hiznx4hryZMK
ADMIN_PASS3=$2y$10$TKwzrC/P4RSwz7dyAaV6TOXyLtPg9MotXHXTro3T4Hiznx4hryZMK
ADMIN_PASS4=$2y$10$TKwzrC/P4RSwz7dyAaV6TOXyLtPg9MotXHXTro3T4Hiznx4hryZMK
ADMIN_PASS5=$2y$10$TKwzrC/P4RSwz7dyAaV6TOXyLtPg9MotXHXTro3T4Hiznx4hryZMK
ADMIN_PASS6=$2y$10$TKwzrC/P4RSwz7dyAaV6TOXyLtPg9MotXHXTro3T4Hiznx4hryZMK

FILE_ENDINGS=pdf,txt,java,py,html,htm,sql

SITE_VERSION=4.0.0-alpha
SITE_EMAIL_CONTACT=foo@bar.tld

SITE_GOOGLE_ANALYTICS=0
SITE_GOOGLE_SENSE=0
SITE_GOOGLE_ANALYTICS_CODE=foo
SITE_GOOGLE_SENSE_CODE=foo
