# Ignore all direcotires
/*

# Except these
!/assets/
!/controllers/
!/libs/
!/processor/
!/scripts/
!/templates/
!/templates_c/

# But ignore local settings
local.php
.htaccess

# And all cached templates
templates_c/*

# And those fuckings DS_Stores
.DS_Store
._.DS_Store
