# Ignore all direcotires
/*/

# Except these
!/_build/
!/assets/
!/cache/
!/controllers/
!/elements/
!/libs/
!/mail/
!/processor/
!/scripts/
!/templates/
!/templates_c/

# But ignore local settings
local.php
cache.php
.htaccess
/processor/search/*

# And those fuckings DS_Stores
.DS_Store
._.DS_Store
