<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title{% if COURSE.deleted == 1 or COURSE.pending == 1 %} admin-file-line-deleted{% endif %}">
            <a href="#" class="admin-course-edit" data-id="{{ COURSE.id }}" data-url="{{ path_for('admin_processor_element_details_fetch', {'id': COURSE.id}) }}">
                {{ COURSE.courseCode }} &mdash; {{ COURSE.courseName }}
            </a>
            <a href="#" class="admin-tree-add-child" data-name="{{ COURSE.courseCode }}: {{ COURSE.courseName }}" data-id="{{ COURSE.id }}">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="{{ path_for('archive', {'course': COURSE.uri, 'params': COURSE.fullUri }) }}" class="admin-tree-course-link" >
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </h2>
    </div>
    <div class="box-body admin-file-tree">
        {% for ELEMENT in COURSE.childrenObjects %}
            {% include "admin/includes/files_tree.html" with {'ELEMENT': ELEMENT, 'PADDING': 0} %}
        {% endfor %}
    </div>
</div>