<ul>
    <li>
        <div class="admin-file-line{% if ELEMENT.deleted == 1 %} admin-file-line-deleted{% endif %}{% if ELEMENT.directory == 1 and ELEMENT.empty == 1 %} admin-file-line-empty{% endif %}">
            <div class="admin-file-tree-padding" style="width: {{ PADDING }}px;"></div>
            {% if ELEMENT.directory == 1 %}
                <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-caret-down admin-file-tree-directory-none" aria-hidden="true"></i>
            {% endif %}

            {% if ELEMENT.directory == 1 %}
                <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
            {% elseif ELEMENT.link|length > 0 %}
                <i class="fa fa-link admin-tree-type" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-file-o admin-tree-type" aria-hidden="true"></i>
            {% endif %}

            <a href="#" class="admin-tree-edit" data-id="{{ ELEMENT.id }}" data-url="{{ path_for('admin_processor_element_details_fetch', {'id': ELEMENT.id}) }}">{{ ELEMENT.name }} {% if ELEMENT.link|length > 0%} ({{ ELEMENT.link }}){% endif %}</a>
            {% if ELEMENT.deleted == 0 and ELEMENT.directory == 1 %}
                <a href="#" class="admin-tree-add-child" data-name="{{ ELEMENT.name }}" data-id="{{ ELEMENT.id }}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
            {% endif %}
        </div>
        {% if ELEMENT.childrenObjects|length > 0 %}
            <ul>
                {% for CHILD in ELEMENT.childrenObjects %}
                    {% include "admin/includes/files_tree.html" with {'ELEMENT': CHILD, 'PADDING': PADDING + 30} %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
</ul>