{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <h1>Hjelp</h1>
        <p>Kontakt oss på <a href="mailto:{{ SITE_SETTINGS.EMAIL_CONTACT }}">{{ SITE_SETTINGS.EMAIL_CONTACT }}</a> dersom du har problemer med nettsiden eller om du trenger hjelp.</p>
        <h2>Jeg får ikke lastet opp bidrag</h2>
        <p>Opplasteren skal fungere i alle moderne nettlesere. Pass på at bidraget har <a href="{{ path_for('terms') }}#filtyper">godkjent filendelse</a>. Ta kontakt med oss dersom du fortsatt opplever problemer med opplasting av bidrag.</p>
    </div>
    <div class="col-xs-12 col-md-4" id="sidebar">
        {% include "sidebar/flat.html" %}
        {% if DEV == '1' %} {% include "react/dev_sidebarPopular.html" %}{% else %}{% include "react/sidebarPopular.html" %}{% endif %}
    </div>
</div>
{% endblock %}
