<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="Harness.php"
         strict="true">
    <testsuites>
        <testsuite name="Setup">
            <file>Setup/Setup.php</file>
        </testsuite>
        <testsuite name="money">
            <directory>Tests/</directory>
        </testsuite>
        <testsuite name="Teardown">
            <file>Setup/Teardown.php</file>
        </testsuite>
    </testsuites>
</phpunit>