{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb" id="archive-breadcrumbs">
                    <li><a href="{{ youkok_url() }}">Hjem</a></li>
                    <li><a href="{{ path_for('courses') }}">Emner</a></li>
                    {% for PARENT in ARCHIVE.PARENTS %}
                    <li>
                        {% if PARENT.id != ARCHIVE.ID %}
                        <a href="{{ path_for('archive', {'course': PARENT.uri, 'params': PARENT.fullUri }) }}">
                            {% endif %}

                            {% if PARENT.parent == null %}
                            {{ PARENT.courseCode }}
                            {% else %}
                            {{ PARENT.name }}
                            {% endif %}

                            {% if PARENT.id != ARCHIVE.ID %}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="archive-title">
                <h1>
                    {{ ARCHIVE.TITLES.PRIMARY }}
                </h1>
                {% if ARCHIVE.TITLES.SECONDARY != null %}
                <span>&mdash;</span>
                <h2>{{ ARCHIVE.TITLES.SECONDARY }}</h2>
                {% endif %}

                <i class="fa fa-star archive-heading-star-{% if ARCHIVE.STARRED %}1{% else %}0{% endif %}" data-archive-id="{{ ARCHIVE.ID }}" id="archive-heading-star"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if ARCHIVE.CHILDREN|length == 0 %}
                <div id="archive-empty" class="well">
                    <p>Ingen filer eller linker!</p>
                    <p>Det er visst ingen filer eller linker her. Du kan bidra ved å laste opp filer eller poste linker i panelet til høyre. Pass på at du leser våre <a href=" {{ path_for('terms') }}">retningslinjer</a> før du eventuelt gjør dette.</p>
                    <p>- YouKok2</p>
                </div>
                {% else %}
                    <div class="archive-list">
                        <div class="archive-row archive-row--header">
                            <div class="archive-row-icon"></div>
                            <div class="archive-row-name">
                                <strong>Navn</strong>
                            </div>
                            <div class="archive-row-downloads">
                                <strong>Nedlastninger</strong>
                            </div>
                            <div class="archive-row-age">
                                <strong>Postet</strong>
                            </div>
                        </div>
                        {% for CHILD in ARCHIVE.CHILDREN %}
                            <a class="archive-row" href="{{ element_url(CHILD)}}"{% if CHILD.link != null %} target="_blank"{% endif %}{% if CHILD.link == null and CHILD.directory == 0%} {% endif %}>
                                <div class="archive-row-icon">
                                    <div style="background-image: url('assets/images/icons/{{ CHILD.icon }}');"></div>
                                </div>
                                <div class="archive-row-name">
                                    <span{% if CHILD.link != null %}title="Link til: {{ CHILD.link }}"{% endif %}>
                                    {{ CHILD.name }}
                                    </span>
                                </div>
                                <div class="archive-row-downloads">
                                    {% if CHILD.directory == 0 and CHILD._downloads != null %}
                                        <span>
                                            {{ whole_number_format(CHILD._downloads) }}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="archive-row-age">
                                        <span>
                                            {{ posted_at(CHILD.added) }}
                                        </span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
        </div>
    </div>
</div>
<div id="sidebar" class="col-xs-12 col-md-4 sidebar-no-top-margin">
    {% include "sidebar/upload.html" %}
    {% include "jstemplates/history.html" %}
</div>
</div>
{% endblock %}
