<!DOCTYPE html>
<html>
<head>
    <base href="{{ youkok_url() }}" />
    <title>{{ SITE_TITLE }} :: Youkok2.com</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="{% if SITE_DESCRIPTION %}{{ SITE_DESCRIPTION }}{% else %}Velkommen til Youkok2, den beste kokeboka på nettet.{% endif %}" />
    <meta name="keywords" content="ntnu, kok, youkok, kokebok, øvinger, lekser, eksamen, oppgaver, fasit, trondheim" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/libs/bootstrap.lumen.3.3.1+2.min.css" />
    {{ COURSE_LOOKUP|raw }}
    {% if DEV == '1' %}{% include "react/dev_youkok2.html" %}{% else %}{% include "react/youkok2.html" %}{% endif %}
    {% if DEV == '1' %}{% include "react/dev_polyfills.html" %}{% else %}{% include "react/polyfills.html" %}{% endif %}
    {% block head %}{% endblock %}
</head>
<body{% if BODY_CLASS != null %} class="{{ BODY_CLASS }}"{% endif %}>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ youkok_url() }}">Youkok2.com</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="main-nav" class="nav navbar-nav">
                <li{% if HEADER_MENU == 'home' %} class="active"{% endif %}><a href="{{ youkok_url() }}">Hjem</a></li>
                <li{% if HEADER_MENU == 'courses' %} class="active"{% endif %}><a href="{{ path_for('courses') }}">Emner</a></li>
                <li class="hidden{% if HEADER_MENU == 'search'%} active{% endif %}"><a href="{{ path_for('courses') }}">Søk</a></li>
                <li{% if HEADER_MENU == 'about' %} class="active"{% endif %}><a href="{{ path_for('about') }}">Om Youkok2</a></li>
                <li{% if HEADER_MENU == 'help' %} class="active"{% endif %}><a href="{{ path_for('help') }}">Hjelp</a></li>
                {% if ADMIN %}
                    <li><a href="{{ path_for('admin_home') }}">Admin</a></li>
                {% endif %}
            </ul>
            {% if DEV == '1' %}{% include "react/dev_searchBar.html" %}{% else %}{% include "react/searchBar.html" %}{% endif %}
        </div>
    </div>
</div>
<main class="container">
    <noscript>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">Du må skru på JavaScript for å kunne bruke Youkok2.</div>
            </div>
        </div>
    </noscript>
    <div class="row">
        <div class="col-xs-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
<div class="container">
    <div class="row">
        <footer class="col-xs-12 footer">
            <ul>
                <li><a href="/changelog.txt">Youkok2 v{{ SITE_SETTINGS.VERSION }}</a></li>
                <li><a href="/om">Om Youkok2</a></li>
                <li><a href="/retningslinjer">Retningslinjer</a></li>
                <li><a href="/hjelp">Hjelp</a></li>
                <li><a href="/retningslinjer#cookies">Om informasjonskapsler (cookies)</a></li>
                <li><a href="mailto:post@youkok2.com">post@youkok2.com</a></li>
                <li><a href="https://github.com/OptimusCrime/youkok2" target="_blank">GitHub</a></li>
            </ul>
        </footer>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
