<script type="text/javascript" src="assets/js/youkok/admin/youkok.admin.home.js?v={{ SITE_SETTINGS.VERSION }}"></script>
<script type="text/javascript" src="assets/js/youkok/admin/youkok.admin.graph.home.js?v={{ SITE_SETTINGS.VERSION }}"></script>
<script type="text/javascript" src="assets/js/youkok/admin/youkok.admin.filter.js?v={{ SITE_SETTINGS.VERSION }}"></script>
<script type="text/javascript" src="assets/js/youkok/admin/youkok.admin.listing.js?v={{ SITE_SETTINGS.VERSION }}"></script>
<script type="text/javascript" src="assets/js/youkok/admin/youkok.admin.js?v={{ SITE_SETTINGS.VERSION }}"></script>