{{> "partials/top" BODY_CLASS="admin" HEADER_MENU="files" ADMIN_TITLE="Filer" }}

<section class="content">
    <div class="row">
        <div class="col-xs-12 admin-search">
            <form class="navbar-form navbar-right" id="search-form" name="search-form" action="" method="get">
                <div class="form-group div-relative" id="search-bar"></div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="admin-files"></div>
    </div>
</section>

{{> "partials/bottom" }}
