{{> "partials/top" BODY_CLASS="admin" HEADER_MENU="home" ADMIN_TITLE="Hjem" }}

<section class="content">
    <div class="row">
        <div id="admin-home-boxes"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Nedlastninger de siste 30 dagene</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="admin-home-graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> "partials/bottom" }}
