<script type="text/template" class="template-frontpage-popular-elements">
    <ul class="list-group">
        <% _.each(rc.elements,function(element) { %>
        <li class="list-group-item">
            <a href="<%- element.full_uri %>" target="_blank" <% if (element.link !== null) { %>title="Link til: <%- element.link %>"<% } %>>
            <%- element.name %>
            </a> @ <% if (element.parents.length == 2) { %>
            <a href="<%- element.parents[0].full_uri %>"><%- element.parents[0].name %></a>,
            <% } %>
            <a title="<% if (element.parents.length == 2) { %><%- element.parents[1].course_name %><% } else { %><%- element.parents[0].course_name %><% } %>" data-placement="top" data-toggle="tooltip" href="<% if (element.parents.length == 2) { %><%- element.parents[1].full_uri %><% } else { %><%- element.parents[0].full_uri %><% } %>"><% if (element.parents.length == 2) { %><%- element.parents[1].course_code %><% } else { %><%- element.parents[0].course_code %><% } %></a>
            [<% if (element.downloads !== null) { %><%- element.downloads %><% } else { %>0<% } %>]
        </li>
        <% }); %>
    </ul>
</script>
<script type="text/template" class="template-frontpage-no-popular-elements">
    <ul class="list-group">
        <li class="list-group-item">
            <em>Det er ingen nedlastninger her</em>
        </li>
    </ul>
</script>