{% extends "base.html" %}
{% block content %}
<form action="{{ path_for('admin_login_submit') }}" method="post">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Admin</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="password1">Passord #1</label>
                        <input type="password" name="password1" class="form-control" id="password1" value="" placeholder="Lorem" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="password2">Passord #2</label>
                        <input type="password" name="password2" class="form-control" id="password2" value="" placeholder="ipsum" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="password3">Passord #3</label>
                        <input type="password" name="password3" class="form-control" id="password3" value="" placeholder="dolor" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="password4">Passord #4</label>
                        <input type="password" name="password4" class="form-control" id="password4" value="" placeholder="sit" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="password5">Passord #5</label>
                        <input type="password" name="password5" class="form-control" id="password5" value="" placeholder="amet" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="password6">Passord #6</label>
                        <input type="password" name="password6" class="form-control" id="password6" value="" placeholder="consectetur" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="login" class="btn btn-default">Logg inn</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
