<div class="box">
    <div class="box-header with-border">
        <h2 class="box-title">TDT4110 &mdash; Objektorientert Programmering</h2>
    </div>
    <div class="box-body admin-file-tree">
        <ul>
            <li>
                <div class="admin-file-line">
                    <div class="admin-file-tree-padding" style="width: 0;"></div>
                    <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
                    <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
                    <a href="#">Eksamen</a>
                    <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                </div>
                <ul>
                    <li>
                        <div class="admin-file-line">
                            <div class="admin-file-tree-padding" style="width: 30px;"></div>
                            <i class="fa fa-caret-down admin-file-tree-directory-none" aria-hidden="true"></i>
                            <i class="fa fa-file-o admin-tree-type" aria-hidden="true"></i>
                            <a href="#">tdt4110-B11.pdf</a>
                            <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="admin-file-line">
                            <div class="admin-file-tree-padding" style="width: 30px;"></div>
                            <i class="fa fa-caret-down admin-file-tree-directory-none" aria-hidden="true"></i>
                            <i class="fa fa-file-o admin-tree-type" aria-hidden="true"></i>
                            <a href="#">tdt4110-B12-kont.pdf</a>
                            <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="admin-file-line">
                    <div class="admin-file-tree-padding" style="width: 0;"></div>
                    <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
                    <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
                    <a href="#">Øvinger</a>
                    <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                </div>
                <ul>
                    <li>
                        <div class="admin-file-line">
                            <div class="admin-file-tree-padding" style="width: 30px;"></div>
                            <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
                            <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
                            <a href="#">2013</a>
                            <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                        </div>

                        <ul>
                            <li>
                                <div class="admin-file-line">
                                    <div class="admin-file-tree-padding" style="width: 60px;"></div>
                                    <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
                                    <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
                                    <a href="#">2014</a>
                                    <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                                </div>
                                <ul>
                                    <li>
                                        <div class="admin-file-line">
                                            <div class="admin-file-tree-padding" style="width: 90px;"></div>
                                            <i class="fa fa-caret-down admin-file-tree-directory-none" aria-hidden="true"></i>
                                            <i class="fa fa-link admin-tree-type" aria-hidden="true"></i>
                                            <a href="#">ITGK Quiz</a>
                                            <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="admin-file-line">
                            <div class="admin-file-tree-padding" style="width: 30px;"></div>
                            <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
                            <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
                            <a href="#">2014</a>
                            <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="admin-file-line">
                    <div class="admin-file-tree-padding" style="width: 0;"></div>
                    <i class="fa fa-caret-down admin-file-tree-directory-none" aria-hidden="true"></i>
                    <i class="fa fa-link admin-tree-type" aria-hidden="true"></i>
                    <a href="#">ITGK Quiz</a>
                    <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                </div>
            </li>
            <li>
                <div class="admin-file-line">
                    <div class="admin-file-tree-padding" style="width: 0;"></div>
                    <i class="fa fa-caret-down admin-file-tree-directory" aria-hidden="true"></i>
                    <i class="fa fa-folder-o admin-tree-type" aria-hidden="true"></i>
                    <a href="#">2014</a>
                    <a href="#"><i class="fa fa-cog admin-tree-edit" aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>