{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb" id="archive-breadcrumbs">
                    <li><a href={{ youkok_url() }}>Hjem</a></li>
                    <li>Emner</li>
                </ol>
            </div>
        </div>
        <div class="center">
            <h1>Emner</h1>
        </div>
        <div id="courses"></div>
    </div>
    <div id="sidebar" class="col-xs-12 col-md-4">
        {% include "sidebar/courses.html" %}
        {% if DEV == '1' %}{% include "react/dev_sidebarPopular.html" %}{% else %}{% include "react/sidebarPopular.html" %}{% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="assets/apps/courses.js?hash=e87853f712bfa3c8eda3"></script>
{% endblock %}
