/*
    Stuff
*/

body,
html {
    background-color: #fff;
    height: 100%;
}
a,
a:focus,
a:active,
a:visited {
    color: #3498DB;
}
.div-relative {
    position: relative;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.center {
    text-align: center;
}
.help {
    cursor: help;
}
.red {
    color: red;
}

/*
 * Main
*/

#main {
    background-color: #FAFAFA;
    height: auto;
    min-height: 100%;
    margin-top: 51px;
    padding-top: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #E7E7E7;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) inset;
    padding-bottom: 10px;
}

/*
 * Responsive stuff
 */

.elm-md-smaller {
    display: none;
}
@media all and (max-width: 992px) {
    .elm-md-smaller {
        display: inline;
    }
    .elm-md-bigger {
        display: none;
    }
}
@media all and (max-width: 749px) {
    #sidebar {
        margin-top: 15px;
    }
}

/*
 * Bootstrap components
 */

.well {
    box-shadow: 0 0 0;
    border: 1px solid #dddddd;
    padding-bottom: 12px;
    background-color: #fff;
}
.breadcrumb {
    border-width: 1px;
    border-color: #dddddd;
    background-color: #fff;
    padding: 10px 15px;
}

/*
 * Menu
*/

.navbar {
    background-color: #375A7F;
    border-color: #2b4764;
    border-left: 0px;
    border-right: 0px;
}
#main-nav a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
#main-nav a:hover {
    color: #999999;
    transition: color 0.2s ease;
}
#main-nav .active a {
    color: #333333;
}
.navbar-default .navbar-brand:hover {
    color: #999999;
}
#dropdown-menu-opener:focus {
    color: #fff;
}
#dropdown-menu-opener:hover {
    color: #999999;
    transition: color 0.2s ease;
}
.open #dropdown-menu-opener {
    color: #333333;
}
#nav-search,
#nav-search2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}
#search-form2 {
    width: 75%;
}
#nav-search:hover,
#nav-search2:hover {
    margin-top: 0px;
    border-bottom-width: 4px;
}
.navbar-form div {
    width: 100%;
}
.navbar-form {
    width: 375px;
}
.open .caret {
    border-top-width: 0;
    border-bottom: 4px solid #333333;
}
#user-dropdown {
    margin-top: 4px;
}

/*
 * Typeahead
*/

.tt-query, .tt-hint {
    width: 396px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 13px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}
.tt-suggestion p {
    margin: 0;
}
.twitter-typeahead {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}
.navbar-form .form-control {
    width: 100%;
}

/*
 * Login
*/

#dropdown-menu-opener {
    margin-left: 15px;
}
#login-dropdown {
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #FAFAFA;
    border: 1px solid #E7E7E7;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) inset;
    margin-top: 4px;
}
#login-dropdown a {
    color: #555555 !important;
}
#login-dropdown .form-group {
    margin-bottom: 0px;
}
#login-dropdown hr {
    margin-top: 12px;
    margin-bottom: 15px;
}
#login-dropdown .form-group label {
    display: block;
}
#login-dropdown .form-group input {
    margin-bottom: 10px;
}
#login-float-container {
    padding-top: 5px;
}
#login-float-container .checkbox {
    float: left;
    margin-left: 12px;
    margin-top: 7px;
}
#login-float-container button {
    float: left;
}

/*
 * Home
*/

#frontpage-hello {
    text-align: center;
    padding-bottom: 10px;
}
#frontpage-wellholder {
    padding: 15px;
}
.breadcrumb > li + li:before {
    font-family: FontAwesome;
    content: "\f105";
}
.dropdown-menu > li > a {
    color: #555555;
}
.dropdown-menu .disabled a,
.dropdown-menu .disabled a:hover {
    color: #999999;
}
#frontpage-wellholder h1 {
    font-size: 24px;
}
.list-group-star .star-remove {
    display: none;
}
.list-group-star:hover .star-remove {
    display: block;
}
.star-remove {
    float: right;
    color: #ff4136;
    cursor: pointer;
    font-size: 18px;
}
#frontpage-most-popular-dropdown {
    margin-bottom: 10px;
}
@media all and (max-width: 767px) {
    #frontpage-links {
        padding-top: 10px;
        border-top: 1px solid #dddddd;
    }
}
@media all and (min-width: 768px) {
    #frontpage-info {
        border-right: 1px solid #dddddd;
    }
    #frontpage-links-second {
        padding-top: 15px;
    }
}

/*
 * Course
 */

.course-empty a {
    color: #99c1dc;
}
.course-box h3 {
    padding-left: 5px;
}

/*
 * Sidebar
 */

#sidebar {
    margin-top: 20px;
}
.sidebar-element {
    margin-bottom: 20px;
}
.sidebar-element h3 {
    margin-top: 0px;
}
.sidebar-element-inner {
    border: 1px solid #dddddd;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
}
.sidebar-element-inner p:last-child {
    margin: 0px;
}

/*
 * Archive
*/

.archive-course ul {
    background-color: #ededed;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 10px;
}
#archive-list {
    list-style: none;
    list-style-position: inside;
    padding: 0px;
    background-color: #ededed;
    border-radius: 4px;
    padding-bottom: 7px;
    position: relative;
}
#archive-list li {
    height: 106px;
    width: 102px;
    display: inline-block;
    cursor: pointer;
    margin: 6px;
    border: 1px solid #EDEDED;
}
#archive-list li:hover {
    border-color: #b4b4b4;
}
.archive-item {
    width: 100px;
    height: 100px;
    position: relative;
}
.archive-item.has-overlay {
    background-color: #e1e1e1;
}
.archive-item-icon {
    height: 70px;
    margin-left: 13px;
    margin-top: 4px;
    width: 75px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 100;
}
.archive-item-label {
    width: 100px;
    text-align: center;
    overflow: hidden;
    z-index: 100;
}
.archive-item-label h4 {
    font-size: 11.5px;
    color: #3498db;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.archive-badge {
    background-color: #d9534f;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 1000;
}
.archive-badge-right {
    right: 16px;
    left: auto;
}
.archive-overlay {
    background-image: urL('gfx/archive-overlay.png');
    background-position: top left;
    background-repeat: repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
}
.archive-sidebar {
    background-color: #ededed;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.archive-sidebar h3 {
    padding-top: 8px;
    margin-top: 0px;
    padding-bottom: 8px;
}
#archive-history-inside {
    max-height: 500px;
    overflow-y: scroll;
}
#archive-context-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 99999;
}
#archive-heading-star {
    cursor: pointer;
    user-select: none;
}
#archive-zip {
    float: right;
    margin-top: 37px;
    display: none;
}
.archive-title-smaller {
    font-size: 22px;
}
.archive-heading-star-1 {
    color: #F0AD4E;
}
#archive-asd {
    margin-bottom: 20px;
}
#archive-create-controlls {
    padding-bottom: 10px;
}
#archive-create-controlls button {
    margin-bottom: 10px;
}
#archive-create-folder-div,
#archive-create-file-div,
#archive-create-link-div {
    display: none;
    border-top: 1px solid gray;
    padding-top: 5px;
}
#archive-title h1,
#archive-title h2 {
    display: inline-block;
}
#archive-title h2 {
    font-size: 22px;
    margin: 0px;
}
#archive-title i {
    font-size: 24px;
    margin: 0px;
    padding-left: 5px;
}
#archive-title span {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*
 * Modals
*/

#modal-report .dropdown {
    display: inline;
}
#modal-report textarea {
    margin-bottom: 20px;
    height: 100px;
    resize: vertical;
}
.model-flags-collaps-info {
    width: 60%;
    position: absolute;
    right: 15px;
    top: 10px;
    height: 18px;
}
.panel-heading {
    position: relative;
}
.model-flags-collaps-info .progress {
    width: 85%;
    float: right;
    margin-right: 2%;
}
.model-flags-collaps-info i {
    float: right;
}

/*
 * Footer
*/

#footer {
    padding-top: 10px;
    text-align: center;
}
#footer p span {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
#footer p, #footer p a {
    color: #000;
}
#footer p a {
    text-decoration: none;
}
#footer p a:hover {
    text-decoration: underline;
}
#footer .first {
    padding-left: 0px;
}
#footer .last {
    padding-right: 0px;
}

/*
 * Nesten dropdowns
*/

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/*
 * Fileupload
*/

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
.bar {
    height: 18px;
    background: green;
}
.fileupload-file {
    width: 100%;
    background-color: #DFF0D8;
    position: relative;
    color: #3C763D;
}
.fileupload-file {
    border-bottom: 1px solid #D6E9C6;
    padding: 5px;
}
.fileupload-add {
    text-align: right;
    border-bottom: none;
}
.fileupload-add p {
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: 13px;
    display: none;
}
.fileupload-file-remove {
    position: absolute;
    right: 5px;
    top: 17px;
    cursor: pointer;
    font-weight: bold;
}
#archive_accepted_filetypes,
#archive_accepted_fileendings {
    display: none;
}

/*
 * Alerts
*/

.alert {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.alert-close {
    position: absolute;
    right: 15px;
    top: 13px;
    cursor: pointer;
}

/*
 * Misc
*/

.can-i-be-inline {
    display: inline-block;
    padding-right: 10px;
    position: relative;
}
#forgotten-email,
#login2-pw,
#login2-email,
#forgotten-password-new-form-oldpassword,
#verify-username-outer {
    margin-bottom: 10px;
}
#modal-new-flag-name-comment,
#modal-new-flag-delete-comment {
    resize: vertical;
    margin-bottom: 10px;
}

/*
 * Header hax
*/

@media all and (max-width: 990px) {
    .navbar-form {
        display: none;
    }
    #main-nav .hidden {
        display: block !important;
        visibility: visible !important;
    }
    #navbar-dropdown-outer {
        display: none;
    }
}
@media all and (max-width: 1199px) {
    .navbar-form {
        width: 300px;
    }
}

/*
 * Profile
*/

.tab-pane {
    margin-top: 10px;
}
.list-group-item-danger a,
.list-group-item-success a {
    color: #fff;
}

/*
 * Other stuff
*/

#archive-asd {
    display: none;
}
.width33 {
    width: 33.333%;
    display: inline-block;
}
.list-group-item .badge {
    float: right;
}

/*
 * Debug
*/

#queries {
    display: none;
}
#queries {
    text-align: left;
}
#footer span.nopadd {
    padding: 0px;
}

/*
 * Info modal
*/

.modal-col {
    width: 25%;
    float: left;
}
.modal-col-right p {
    padding-right: 10px;
}
.modal-body-inner {
    margin-bottom: 15px;
}
#modal-info-graph-data {
    display: none;
}

/*
 * Admin
*/

.admin-graph-hidden {
    display: none;
}
#modal-admin-script .modal-body{
    padding-top: 20px;
}
#modal-admin-iframe {
    width: 558px;
    min-height: 200px;
}