body, html {
    background-color: #999999;
    height: 100%;
}

.div-relative {
    position: relative;
}

#wrapper {
    padding-top: 51px;
    height: auto;
    min-height: 100%;
}
#main {
    background-color: #fff;
    height: auto;
    min-height: 100%;
}
#nav-search {
    position: absolute;
    top: 0px;
    right: 0px;
}
#search {
    width: 285px;
}