body, html {
    background-color: #999999;
    height: 100%;
}
.div-relative {
    position: relative;
}
.clear {
    clear: both;
}
#main {
    background-color: #fff;
    height: auto;
    min-height: 100%;
    padding-top: 51px;
}
#nav-search {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}
#nav-search i {
    width: 100%;
    height: 100%;
}
#search {
    width: 100%;
}
.navbar-brand {
    padding-right: 20%;
}
.navbar-form div {
    width: 100%;
}
.navbar-form {
    width: 40%;
}
#archive-list {
    list-style: none;
    list-style-position: inside;
    padding: 0px;
}
#archive-list li {
    height: 100px;
    width: 100px;
    float: left;
    cursor: pointer;
    margin: 6px;
}
.archive-item {
    width: 100px;
    height: 100px;
    position: relative;
}
.archive-item-icon {
    height: 70px;
    margin-left: 13px;
    margin-top: 4px;
    width: 75px;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 100;
}
.archive-item-label {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 100;
}
.archive-badge {
    background-color: #d9534f;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    position: absolute;
    left: 13px;
    top: 0px;
    z-index: 1000;
}
.archive-overlay {
    background-image: urL('gfx/archive-overlay.png');
    background-position: top left;
    background-repeat: repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
}
#archive-breadcrumbs {
    margin-top: 20px;
}
.archive-sidebar {
    background-color: #F5F5F5;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.archive-sidebar h3 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.twitter-typeahead {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}
.tt-query,
.tt-hint {
    width: 396px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 13px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}
.tt-suggestion p {
    margin: 0;
}
#archive-context-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
.hidden {
    display: none;
}
#archive-heading-star {
    cursor: pointer;
    user-select: none;
}
.archive-heading-star-1 {
    color: #F0AD4E;
}
.model-flags-collaps-info {
    width: 60%;
    position: absolute;
    right: 15px;
    top: 10px;
    height: 18px;
}
.panel-heading {
    position: relative;
}
.model-flags-collaps-info .progress {
    width: 85%;
    float: right;
    margin-right: 2%;
}
.model-flags-collaps-info i {
    float: right;
}
#login-dropdown {
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
}
#login-dropdown .form-group {
    margin-bottom: 0px;
}
#login-dropdown .form-group label {
    display: block;
}
#login-dropdown .form-group input[type="email"] {
    margin-bottom: 10px;
}
