<div class="sidebar-element">
    <div class="sidebar-element-inner">
        <p>Fagene står alfabetisk sortert etter fagkode.</p>
        <p>Du kan også bruke søkefeltet for å søke etter fagkoder og fagnavn.</p>
        <p>Dersom du savner et fag i listen kan du <a href="mailto:post@youkok2.com">kontakte oss</a>, så legger vi det til.</p>
    </div>
</div>
