<div id="archive-help" class="sidebar-element">
    <h3>Hjelp</h3>
    <div class="sidebar-element-inner">
        <p>Kokeboka skal være lett å bruke. Du laster ned filer ved å klikke på dem. Ønsker du å utforske en mappe trykker du enkelt på mappa.</p>
        <p><a href="/hjelp">Se utvidet hjelp for mer informasjon</a>.</p>
    </div>
</div>
