<div id="archive-report" class="sidebar-element">
    <h3>Rapporter et problem eller bidrag</h3>
    <div class="sidebar-element-inner">
        <p>Ta kontakt med oss på <a href="mailto:post@youkok2.com">post@youkok2.com</a> hvis du har et problem, eller hvis du finner et bidrag som du ønsker at skal fjernes. Ta også kontakt hvis du finner brudd på våre <a href="/retningslinjer">retningslinjer</a>.</p>
    </div>
</div>
