<div class="sidebar-element">
    <ul class="list-group">
        <li class="list-group-item{{#ifEquals FLAT_MENU "about" }} selected{{/ifEquals}}"><a href="/om">Om YouKok2</a></li>
        <li class="list-group-item{{#ifEquals FLAT_MENU "terms" }} selected{{/ifEquals}}"><a href="/retningslinjer">Retningslinjer</a></li>
        <li class="list-group-item{{#ifEquals FLAT_MENU "help" }} selected{{/ifEquals}}"><a href="/hjelp">Hjelp</a></li>
        <li class="list-group-item"><a href="mailto:post@youkok2.com">Kontakt</a></li>
    </ul>
</div>
