        </div>
    </div>
</main>
<div class="container">
    <div class="row">
        <footer class="col-xs-12 footer">
            <ul>
                <li><a href="/changelog.txt">Youkok2 v{{ VERSION }}</a></li>
                <li><a href="/om">Om Youkok2</a></li>
                <li><a href="/retningslinjer">Retningslinjer</a></li>
                <li><a href="/hjelp">Hjelp</a></li>
                <li><a href="/retningslinjer#cookies">Om informasjonskapsler (cookies)</a></li>
                <li><a href="mailto:post@youkok2.com">post@youkok2.com</a></li>
                <li><a href="https://github.com/OptimusCrime/youkok2" target="_blank">GitHub</a></li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>
