{% extends "admin/base.html" %}
{% block content %}
<section class="content" id="admin-homeboxes" data-url="{{ path_for('admin_processor_homeboxes') }}">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-download"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Nedlastninger</span>
                    <span class="info-box-number" id="admin-home-downloads">Laster...</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Sesjoner </span>
                    <span class="info-box-number" id="admin-home-sessions">Laster...</span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-files-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Filer og linker</span>
                    <span class="info-box-number" id="admin-home-elements">Laster...</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-graduation-cap"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Fag</span>
                    <span class="info-box-number" id="admin-home-courses">Laster...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Nedlastninger de siste 30 dagene</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center" id="admin-home-graph-delta">Laster...</p>
                            <div class="chart" id="admin-home-graph" data-url="{{ path_for('admin_processor_homegraph') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
