{{> "partials/top" SITE_TITLE="Siden ble ikke funnet" SITE_DESCRIPTION="Siden ble ikke funnet" }}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <h1>Siden du prøver å nå finnes ikke</h1>
        <p>Du prøver enten å laste ned en fil som ikke finnes lenger, eller prøver å nå en side som muligens har blitt flyttet. Vi beklager problemene dette medfører.</p>
        <p>Det er til stor hjelp for oss om du kunne si i fra om disse problemene, slik at vi kan se nærmere på det.</p>
        <p>Du kan kontakt oss på <a href="mailto:post@youkok2.com">post@youkok2.com</a>.</p>
    </div>
    <div class="col-xs-12 col-md-4" id="sidebar">
        {{> "partials/sidebar-flat" }}
        {{> "partials/sidebar-popular" }}
    </div>
</div>

{{> "partials/bottom" }}
