{{> "partials/top" BODY_CLASS="archive" HEADER_MENU="courses" SITE_TITLE="Bidrag på Youkok2" SITE_DESCRIPTION="Bidrag på Youkok2, den beste kokeboka på nettet" }}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div id="archive"></div>
    </div>
    <div id="sidebar" class="col-xs-12 col-md-4">
        {{> "partials/sidebar-archive-post" }}
        {{> "partials/sidebar-archive-report" }}
        {{> "partials/sidebar-archive-help" }}
        {{> "partials/sidebar-archive-history" }}
    </div>
</div>

{{> "partials/bottom" }}
