<div class="sidebar-element">
    <ul class="list-group">
        <li class="list-group-item{% if VIEW_NAME == 'about' %} selected{% endif %}"><a href="{{ path_for('about') }}">Om YouKok2</a></li>
        <li class="list-group-item{% if VIEW_NAME == 'terms' %} selected{% endif %}"><a href="{{ path_for('terms') }}">Retningslinjer</a></li>
        <li class="list-group-item{% if VIEW_NAME == 'help' %} selected{% endif %}"><a href="{{ path_for('help') }}">Hjelp</a></li>
        <li class="list-group-item"><a href="mailto:{{ SITE_SETTINGS.EMAIL_CONTACT }}">Kontakt</a></li>
    </ul>
</div>
