<!DOCTYPE html>
<html>
<head>
    <base href="{{ youkok_url() }}" />
    <title>{{ SITE_TITLE }} :: Youkok2.com</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="{% if SITE_DESCRIPTION %}{{ SITE_DESCRIPTION }}{% else %}Youkok2 er den beste kokeboka for studenter på NTNU i en knipen studiehverdag.{% endif %}" />
    <meta name="keywords" content="ntnu, kok, youkok, kokebok, øvinger, lekser, eksamen, oppgaver, fasit, trondheim" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/libs/bootstrap.lumen.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/youkok.css" />
    <script type="text/javascript">var SITE_DATA = {{ SITE_DATA|json_encode()|raw }};</script>
</head>
<body{% if BODY_CLASS != null %} class="{{ BODY_CLASS }}"{% endif %}>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ youkok_url() }}">Youkok2.com</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="main-nav" class="nav navbar-nav">
                <li{% if HEADER_MENU == 'home' %} class="active"{% endif %}><a href="{{ youkok_url() }}">Hjem</a></li>
                <li{% if HEADER_MENU == 'courses' %} class="active"{% endif %}><a href="{{ path_for('archive') }}">Emner</a></li>
                <li class="hidden{% if HEADER_MENU == 'search'%} active{% endif %}"><a href="{{ path_for('search') }}">Søk</a></li>
                <li{% if HEADER_MENU == 'about' %} class="active"{% endif %}><a href="{{ path_for('about') }}">Om Youkok2</a></li>
                <li{% if HEADER_MENU == 'help' %} class="active"{% endif %}><a href="{{ path_for('help') }}">Hjelp</a></li>
                {% if ADMIN %}
                    <li><a href="{{ path_for('admin_home') }}">Admin</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" id="search-form" name="search-form" action="{{ path_for('search') }}" method="get">
            <div class="form-group div-relative" id="prefetch">
                <input type="text" placeholder="Søk etter fag" class="form-control typeahead" value="{{ SEARCH_QUERY }}" id="s" name="s" />
                <button class="btn" type="button" id="nav-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="container" id="main">
    <div class="row" id="messages">
        <div class="col-xs-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12" id="footer">
            <p>
                <span><a href="{{ path_for('changelog') }}">Youkok2 v{{ SITE_SETTINGS.VERSION }}</a></span>
                <span><a href="{{ path_for('about') }}">Om Youkok2</a></span>
                <span><a href="{{ path_for('terms') }}">Retningslinjer</a></span>
                <span><a href="{{ path_for('help') }}">Hjelp</a></span>
                <span><a href="{{ path_for('terms') }}#cookies">Om informasjonskapsler (cookies)</a></span>
                <span><a href="mailto:{{ SITE_SETTINGS.EMAIL_CONTACT }}">{{ SITE_SETTINGS.EMAIL_CONTACT }}</a></span>
                <span>{{ EXECUTION_TIME }}</span>
                <span><a href="https://github.com/OptimusCrime/youkok2" target="_blank">GitHub</a></span>
            </p>
        </div>
    </div>
</div>
{% include "javascripts.html" %}
</body>
</html>
