[mysqld]
innodb_buffer_pool_size=256M
innodb_log_buffer_size=16M
innodb_log_file_size=32M
max_connections=10
max_user_connections=10
max_allowed_packet=4M
key_buffer_size=128K
thread_cache_size=8
host_cache_size=0
innodb_ft_cache_size=1600000
innodb_ft_total_cache_size=32000000

# per thread or per operation settings
thread_stack=480K
sort_buffer_size=128K
read_buffer_size=512K
read_rnd_buffer_size=512K
max_heap_table_size=32M
tmp_table_size=32M
bulk_insert_buffer_size=0
join_buffer_size=128
net_buffer_length=1K
innodb_sort_buffer_size=64K

#settings that relate to the binary log (if enabled)
binlog_cache_size=4K
binlog_stmt_cache_size=4K

performance_schema=OFF
wait_timeout=20

query_cache_type=1
query_cache_limit=2M
query_cache_size=128M
